@charset "UTF-8";

header {
    background-color: #19ce60;
}

h2.tit {
   	margin-left: 0;
    padding: 0 0 30px 0;
    color: #333;
    font-size: 1.7143em;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.content-layout .title-area{
    margin-left: 0;
    overflow: hidden;
    padding: 0;
    margin-bottom: 50px;
}


.detail-table td{
	text-align: center !important;
}

.detail-table td a{
	text-decoration: none;
}

.detail-table td a:hover{
	color: #19ce60;
	text-decoration: underline;
}

.detail-table tr th{
	height: 45px;
    text-align: center;
    background-color: #1fccab;
}

.detailUni-table td{
	text-align: center !important;
}

.detailUni-table td a{
	text-decoration: none;
}

.detailUni-table td a:hover{
	color: #19ce60;
	text-decoration: underline;
}

.detailUni-table tr th{
	height: 45px;
    text-align: center;
    background-color: #1fccab;
}

footer{
	position: relative;
    height: 130px;
    color: #fff;
    /* background: linear-gradient(#0b70b9 ,navy); */
    background-color: #19ce60;
}
footer h1{
line-height: 100px;
width:750px;
margin: auto;
}

.content-layout{
    width: 1350px;
    margin: 0 auto;
}

.button {
	overflow: hidden;
    display: inline-block;
    min-width: 100px;
    height: 42px;
    margin: 0;
    padding: 0 10px;
    line-height: 37px;
    color: #fff;
    font-family: 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.05em;
    border: 1px solid #3671c8;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: grey;
}

.button:hover {
    background-color: silver;
}

.tr-blue{
	background-color: 9AEFE4;	
}

.bad{
	color: #ff4040;
}

.good{
	color: #0080ff;
}

.row-table table td {
    padding: 10px 10px 10px 20px;
}
