@charset "UTF-8";

.list-top {
    overflow: hidden;
}

.float-l {
    float: left !important;
}

.list-top .count {
    padding: 0 0 10px 0;
    line-height: 1.1;
}

.key-tit{
	margin: 0;
    padding: 0 0 30px 0;
    color: #333;
    font-size: 1.7143em;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.a-l {
    text-align: left !important;
}

.key-table{
	border-top: 2px solid #555;
	margin-bottom: 400px;
}

.key-table table thead tr th{
	height: 45px;
    text-align: center;
    background-color: #70aeff60;
}

.key-table table thead tr th, .key-table table tbody tr td {
    height: 45px;
    padding: 2px 10px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}

.pagenav{
    clear: both;
    position: relative;
    margin: 30px auto 40px 0;
    padding: 0;
    text-align: center;
}

.pagenav .active {
    color: #2775c4;
    border-color: #3671c8;
}

.pagenav strong{
    overflow: hidden;
    display: inline-block;
    position: relative;
    min-width: 32px;
    height: 32px;
    margin: 0 2px;
    padding: 0 2px;
    line-height: 31px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #666;
    font-weight: 400;
    vertical-align: middle;
    border-radius: 0;
}

.detail-table {
	margin-bottom: 40px;
}
.detail-table tr th{
	height: 45px;
    text-align: center;
    background-color: #70aeff60;
}

.detail-table td{
	text-align: left !important;
}

.detail-table tr th, .detail-table tr td {
    height: 45px;
    padding: 2px 15px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

.detailUni-table tr th, .detailUni-table tr td {
    height: 45px;
    padding: 2px 15px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}