*{
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    letter-spacing: 0;
    font-weight: normal;
    font-family: 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;
}

h2.tit {
    display: inline;
    margin-left: 130px;
    padding: 0 0 30px 0;
    color: #333;
    font-size: 1.7143em;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.05em;
}

h3.tit {
    padding: 3px 0 3px 0;
    color: #333;
    font-size: 1.3077em;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.05em;
}

p.reset {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    height: 150px;
    color: #fff;
    background: linear-gradient(#0b70b9 ,navy); 
}

.login-header{
    position: relative;
    height: 150px;
    color: #fff;
    background: linear-gradient(#0b70b9 , #2775c4); 
}
header .inner-wrap {
    padding: 0;
}

header .logo {
    position: absolute;
    left: 48%;
    top: 45px;
    width: 168px;
    height: 27px;
    margin: 0 0 0 -600px;
    padding: 0;
}

header .logo a{
    color: ghostwhite;
    text-decoration: none;
}

header .util {
    position: absolute;
    left: 55%;
    top: 0;
    width: 600px;
    padding: 22px 0 0 0;
    text-align: right;
    line-height: 1.1;
}

header .util .login a {
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    color: ghostwhite;
}

header .util .login a:hover {
    text-decoration: underline;
    
}

header .menu {
    
    overflow: hidden;
    margin: 0 0 0 380px;
    padding: 50px 0 0 0;
}

ul{
    list-style-type: none;
}

header .menu li:first-of-type {
    margin: 0;
}

header .menu li{
    float: left;
    margin: 0 0 0 85px;
    padding: 0;
}

header .menu a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

header .menu a:hover{
    color: slategrey;
}



























section{
    height: 1000px;
    margin: auto;
    background-color: #fff;
}

.container {
    min-height: 72%;
    margin: -120px 0 -340px 0;
    padding: 150px 0 340px 0;
}

.content-layout{
    width: 1200px;
    margin: 0 auto;
}

.content-layout .title-area{
    margin-left: 30px;
    overflow: hidden;
    padding: 0;
}

.page-title-area h2.tit {
    float: left;
}

.login-wrap {
    width: 800px;
    margin: 0 auto;
}

.login-intro {
    margin-top: 35px;
    text-align: center;
    font-size: 1.714em;
    color: #2775c4;
    margin-bottom: 30px;
}

.login-box {
    border: 1px solid #e0e0e0;
    margin-bottom: 40px;
}

.login-box .title-area {
    padding: 20px 19px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fafafa;
}

.login-box .content-area {
    padding: 100px 0 0 0;
    height: 300px;
    text-align: center;
}

.login-box .content-area .in {
    text-align: left;
    width: 440px;
    height: 220px;
    margin: 0 auto;
}

.login-box .content-area .write-form {
    position: relative;
    padding-right: 110px;
    margin-top: 20px;
}

.input-text {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    vertical-align: middle;
    text-align: left;
    outline: 0;
    -webkit-appearance: none;
}

.login-box .content-area .write-form input[type=password] {
    margin-top: 10px;
}

.login-box .content-area .write-form .btn-login {
    position: absolute;
    top: 0;
    right: -20px;
    width: 100px;
    height: 95px;
    border: none;
    background-color: #3f7ad2;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.login-box .content-area .write-form .btn-login:hover {
    background-color: #2775c4;
}

.login-box .content-area .write-form .link {
    position: absolute;
    bottom: -30px;
    right: -20px;
    text-align: center;
}

.login-box .content-area .write-form .link a:first-child {
    margin-left: 0;
    padding-left: 0;
}

.login-box .content-area .write-form .link a {
    position: relative;
    color: #333;
    text-decoration: none;
    padding: 0 0 0 9px;
    margin-left: 2px;
}

.login-box .content-area .write-form .link a:hover{
    color: #3f7ad2;
    text-decoration: underline;
}

.input-util {
    padding: 5px 10px 0 10px;
}

.input-util .input-warning {
    position: relative;
    top: 35px;
    left: 35px;
    float: left;
    color: #e15d05;
}


footer{
    overflow: hidden;
    position: relative;
    height: 251px;
    background-color: ghostwhite;
    border-top: 1px solid #e6e6e6;
    border-bottom: 2px solid #422222;
}
