@charset "UTF-8";

header {
    background-color: #19ce60;
}

h2.tit {
   	margin-left: 0;
    padding: 0 0 30px 0;
    color: #333;
    font-size: 1.7143em;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.content-layout .title-area{
    margin-left: 0;
    overflow: hidden;
    padding: 0;
}


.detail-table td{
	text-align: center !important;
}

.detail-table td a{
	text-decoration: none;
}

.detail-table td a:hover{
	color: #19ce60;
	text-decoration: underline;
}

.detail-table td button{
	
}
